<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <title>Carrito</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="css/estilo.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">

  <!-- MAPA -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   <style>
    #map {
        width: 580px;
        height: 580px;
        box-shadow: 5px 5px 5px #888;
    }
</style>

</head>

<body>
  <div class="d-flex" id="wrapper">
    <div id="page-content-wrapper">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="cliente.html"><i><b>Fast FooD</b></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="cliente.html" id="salir">Inicio</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#" id="salir">Salir</a>
                </li> -->
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- fin narvar -->
      <div class="container-fluid" style="padding-top: 20px;">
        <div id="app">
          <table class="table table-stripped">
            <thead class="thead-dark">
              <tr>
                <th style="width: 40px;"></th>
                <th>Producto</th>
                <th style="width: 250px;">Nombre</th>
                <th style="width: 250px;">Descripcion</th>
                <th style="width: 250px;">Precio</th>
                <th style="width: 250px;">Subtotal</th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="item, index in items">
                <td>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
                <td><img src="imagen/pizaa.jpg" width="80" height="40"> </td>
                <td> Pizza </td>
                <td> Alto en calorias </td>
                <td> 5.00 </td>
                <td>42</td>
              </tr>
              <tr v-for="item, index in items">
                <td>
                  <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
                <td><img src="imagen/pizaa.jpg" width="80" height="40"> </td>
                <td> Hamburguesa </td>
                <td> Alto en calorias </td>
                <td> 1.80 </td>
                <td>32</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="app">
          <table class="table table-stripped">

            <tfoot>
              <tr>
                <td></td>
                <td class="text-right"> Número de Articulos</td>
                <td>42</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">Subototal</td>
                <td>36.96</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right"> Iva</td>
                <td>5.04</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right"> Total</td>
                <td>42</td>
                <td></td>
              </tr>
              <tr>
                <td colspan="5" style="align-items: center;">
                  <button type="button" class="btn btn-dark" data-target="#ventanaMapa" data-toggle="modal">
                    Finalizar Compra
                  </button></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ventanaMapa" tabindex="-1" role="dialog" aria-labelledby="myModallabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div id='map'>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark">Enviar</button>
        </div>
      </div>
    </div>
  </div>

  <footer id="pielogo">
    <section class="seccionpie">
      <h1>Sitio web</h1>
      <div class="display-4">
        <a href=""><i class="fab fa-facebook pr-3"></i></a>
        <i class="fab fa-whatsapp pr-3"></i>
        <i class="fab fa-instagram pr-3"></i>
      </div>
    </section>
    <section class="seccionpie">
      <h1>Ayuda</h1>
      <p><a href="">Contacto</a></p>
    </section>
    <section class="seccionpie" style="padding-right: 50px;">
      <address>Tungurahua, Ecuador</address>
      <small>&copy;Derechos Reservados 2020 <br> Guido Reyes<br>Edison Manzano<br>Jose
        Villacres<br>FranklinLopez</small>
    </section>
    <div class="recuperar"></div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  <!-- Menu Toggle Script -->


  <!---MAPA-->
  <script src="mapa.js"></script>
</body>

</html>